<!-- Página de Tabs - Container para navegação -->
<ion-tabs>
  
  <!-- Barra de Tabs no fundo -->
  <ion-tab-bar slot="bottom">
    
    <!-- Tab Início -->
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <!-- Tab Tarefas -->
    <ion-tab-button tab="tasks">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Tarefas</ion-label>
    </ion-tab-button>

    <!-- Tab Projetos -->
    <ion-tab-button tab="projects">
      <ion-icon name="folder-outline"></ion-icon>
      <ion-label>Projetos</ion-label>
    </ion-tab-button>

    <!-- Tab Calendário -->
    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Calendário</ion-label>
    </ion-tab-button>

    <!-- Tab Categorias -->
    <ion-tab-button tab="categories">
      <ion-icon name="pricetags-outline"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
  
</ion-tabs>
